.container{
    display: inline-flex;
    margin: 50px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
.textContainer{
    display: table-row;
    place-items: center;
    grid-column: 2;
    text-align: start;
    width: 500px;
}

.img{
    display: flex;
    grid-column: 1;
    border-radius: 30%;
    margin: 20px;
    width: 20em;
    height: 300px;
    background-position: 452px;
    background-position-y: -18px;
    background-size: 642px;
    background-image: url("C:\Users\Aiven\Documents\Projecto Integrador\RickandMortyApp\IvanRickandMorty\Front\src\img\gorickyourself.png");
}