@font-face {
    font-family: "Space";
    src: local("Spac3 Slim_ttf_free.ttf"),
      url('C:\Users\Aiven\Documents\Projecto Integrador\RickandMortyApp\IvanRickandMorty\Front\src\fonts\spac3\Spac3 Slim_ttf_free.ttf');
  } 
  
  img {
    width: 253px;
      float: left;
      margin: -95px;
      margin-inline: -85px;
  }

  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    justify-self: center;
    right: -18px;
    bottom: -30px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    text-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  
  .button {
    text-decoration: none;
    float: right;
    margin: 10px;
    color: white;
    width: 90px;
    background-color: rgba(0, 0, 0, 0);
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }
  
  .button:hover {
    width: 200px;
  }
  
  .button:hover .logout{
    opacity: .9;
    cursor: pointer;
  }
  
  

.NavBar{
    position: sticky;
    display: flex;
    width: 100%;
    height: 97px;
    align-items: center;
    justify-content: space-around;
}

.NavButton{
    font-family:space;
    font-size: large;
    text-shadow: 0 0 40px rgb(2, 173, 16);
    /* padding: .5em; */
    color: rgb(190, 250, 250);
    text-decoration: none;        
}

.NavButton:before{
    content: ''; 
    position: absolute;
    bottom: 25px;
    width: 0px; /* Start with zero width */
    height: 2px; /* Set the height of the underline */
    background-color: rgb(149, 235, 149); /* Adjust the color of the underline */
    transition: width 0.1s ease; /* Add a transition to smoothly animate the underline */
    transform-origin: center; /* Set the origin to the center for the transform */
    transform: scaleX(0); /* Start with no width (scaled to zero) */
  }

.NavButton:hover::before{
  width: 70px; 
  transform: scaleX(1);
}



