.random{
    display: flex;
     width: 70px;
     height: 70px;
     border: none;
     background-color: rgba(62, 7, 192, 0);
     background-image: url("C:\Users\Aiven\Documents\Projecto Integrador\RickandMortyApp\IvanRickandMorty\src\img\imageedit_1_2952563556.gif");
     background-position: center;
     background-position-x: -46px;
     border-radius: 100px;
     box-shadow: 0 0 40px 0 rgb(31, 255, 1);
     background-size: 250%;
     cursor: pointer;
 }
 
 @media (max-width: 768px) {
     .random {
       top: 3vh; /* Adjust for smaller screens */
       left: 3vw; /* Adjust for smaller screens */
     }
   }
 