  @font-face {
    font-family: "ComputerRobot";
    src: local("computerRobt.ttf"),
      url('C:\Users\Aiven\Documents\Projecto Integrador\RickandMortyApp\IvanRickandMorty\src\fonts\binary\binxchr.ttf');
  } 
  
  .typingeffect {
      
      font-size: 35px;
      font-family: ComputerRobot;
      color: aliceblue;
      animation: typing 0.5s steps(1, end);
      position: relative;
      overflow: hidden;
      white-space: wrap;
      border-right: 2px solid rgb(255, 255, 255);
      width: fit-content;
      text-shadow: 2px 3px 30px rgb(247, 0, 255), 0 0 20px rgb(55, 0, 255);
      }
    
      .typingeffect::after {
        content: '';
        position: inherit;
        bottom: 0; /* Position the pseudo-element at the bottom of the text */
        left: 0;
        height: 2px; /* Height of the typing line */
        width: 100%; /* Initial width set to 100% */
        background-color: rgb(255, 255, 255);
          /* Color of the typing line */
        animation: typing .1s linear; /* Adjust the animation properties */
        transform-origin: left; /* Set the origin for the animation */
        
      }
  
    @keyframes typing {
      0% {
        width: 0; /* Start with no width */
      }
      50%, 100% {
        width: 100%; /* Gradually increase the width */
      }
    }
    