  @font-face {
    font-family: "binxchr";
    src: local("binxchr.ttf"),
      url('C:\Users\Aiven\Documents\Projecto Integrador\RickandMortyApp\IvanRickandMorty\Front\src\fonts\binary\binxchr.ttf');
  } 

  .Detaileffect {
      animation: typing 0.3s steps(1, end);
      position: relative;
      overflow: hidden;
      white-space: wrap;
      width: fit-content;
  }
    
    .Detaileffect::after {
        content: '';
        position: inherit;
        bottom: 0; /* Position the pseudo-element at the bottom of the text */
        left: 0;
        height: 2px; /* Height of the typing line */
        width: 100%; /* Initial width set to 100% */
        background-color: rgb(255, 255, 255);
        animation: typing .05s linear; /* Adjust the animation properties */
        transform-origin: left; /* Set the origin for the animation */
      }
  
    @keyframes typing {
      0% {
        width: 0; /* Start with no width */
      }
      50%, 100% {
        width: 100%; /* Gradually increase the width */
      }
    }